<!DOCTYPE html>
<html lang="en" xmlns:th="http://tyhmeleaf.org">

    <th:block th:replace="~{/layout/layout :: setContent( ~{this :: content } )}">

        <th:block th:fragment="content">

            <h1 th:text="${'BOARD'}"></h1>
            <a th:href="@{/bboard/regist}">등록</a>

            <div class="bboard">
                <table>
                    <thead>
                    <tr>번호</tr>
                    <tr>제목</tr>
                    <tr>작성자</tr>
                    <tr>등록일</tr>
                    <tr>조회수</tr>
                    </thead>

                    <tbody>
                    <tr th:each="dto : ${result.dtoList}">
                        <th scope="row">[[${dto.bno}]]</th>
                        <td><a th:href="@{/bboard/read(bno = ${dto.bno}, page=${result.pageNo})}">[[${dto.title}]]</a></td>
                        <td>[[${dto.writer}]]</td>
                        <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
                        <td>[[${dto.hit}]]</td>
                    </tr>
                    </tbody>
                </table>

                <!-- page -->
                <ul>
                    <li th:if="${result.prevNo}">
                        <a th:href="@{/bboard/list(page= ${result.startNo -1})}" tabindex="-1">이전</a>
                    </li>
                    <li th:each="page : ${result.pageList}">
                        <a th:href="@{/bboard/list(page= ${page})}">[[${page}]]</a>
                    </li>
                    <li th:if="${result.nextNo}">
                        <a th:href="@{/bboard/list(page= ${result.endNo +1})}">다음</a>
                    </li>
                </ul>
                <!-- .page-->

            </div>

        </th:block>

    </th:block>