<!DOCTYPE html>
<html lang="en" xmlns:th="http://tyhmeleaf.org">

    <th:block th:replace="~{/layout/layout :: setContent( ~{this :: content } )}">

        <th:block th:fragment="content">

            <h1>BOARD</h1>

            <div>
                <div>
                    <table class="bboard">
                        <thead>
                        <tr>
                            <th class="tb_bno">번호</th>
                            <td class="tb_title">제목</td>
                            <td class="tb_writer">작성자</td>
                            <td class="tb_regDate">등록일</td>
                            <td class="tb_hit">조회수</td>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="dto : ${result.dtoList}">
                            <th class="tb_bno"scope="row">[[${dto.bno}]]</th>
                            <td class="tb_title"><a th:href="@{/bboard/read(bno = ${dto.bno}, page=${result.pageNo})}">[[${dto.title}]]</a></td>
                            <td class="tb_writer">[[${dto.writer}]]</td>
                            <td class="tb_regDate">[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
                            <td class="tb_hit">[[${dto.hit}]]</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="btnArea">
                    <button class="addButton"><a th:href="@{/bboard/regist}">등록</a></button>
                </div>

                <!-- page -->
                <div class="pageArea">
                    <ul class="pageUl">
                        <li th:if="${result.prevNo}">
                            <a th:href="@{/bboard/list(page= ${result.startNo -1})}" tabindex="-1">이전</a>
                        </li>
                        <li class="pageLi" th:each="page : ${result.pageList}">
                            <a th:href="@{/bboard/list(page= ${page})}">[[${page}]]</a>
                        </li>
                        <li th:if="${result.nextNo}">
                            <a th:href="@{/bboard/list(page= ${result.endNo +1})}">다음</a>
                        </li>
                    </ul>
                </div>
                <!-- .page-->

            </div>

        </th:block>

    </th:block>