<!DOCTYPE html>
<html lang="en" xmlns:th="http://tyhmeleaf.org">

<th:block th:replace="~{/layout/layout :: setContent( ~{this :: content } )}">

    <th:block th:fragment="content">

        <h1>[[${result.title}]] </h1>

        <div class="bboard_read">
            <div>
                <input type="text" name="bno" th:value="${result.bno}" readonly> ||
                <input type="text" name="title" th:value="${result.title}" readonly>
                <label>조회수</label>
                <input type="text" name="hit" th:value="${result.hit}" readonly>
            </div>
            <div>
                <label>작성자</label>
                <input type="text" name="writer" th:value="${result.writer}" readonly>
                <label>등록일</label>
                <input type="text" name="regDate" th:value="${#temporals.format(result.regDate, 'yyyy/MM/dd')}" readonly>
            </div>
            <div>
                <label>내  용</label>
                <textarea name="content" rows="20" readonly>[[${result.content}]]</textarea>
            </div>
        </div>

        <div class="btnArea">
            <button type="button" class="listButton">목록</button>
        </div>

    </th:block>

</th:block>